* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}

main {
  display: flex;
  flex-direction: row;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.gray-font {
  color: rgba(112, 112, 112, 1);
}

.small-font {
  font-size: 14px;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 58px;
  height: 112px;
}

.header-nav-button {
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header-nav-button-text {
  font-size: 20px;
}

.header-nav-right-buttons {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 76px;
}

/* path */

.main-leftside {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.main-liftside-headre-with-checkbox {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-leftside-checkboxes {
  max-width: 192px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.main-leftside-checkbox {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.input-checkbox {
  border: 1px;
  max-width: 16px;
}

.input-checkbox:checked {
  background: hsla(0, 0%, 17%, 1);
}

.input-circle-checkbox {
  max-width: 18px;
  max-height: 18px;
  border-radius: 100px;
}

.main-part {
  max-width: 1131px;
}

.main-part-header {
  max-width: 1130px;
  height: 78px;
  display: flex;
  flex-direction: row;
}

.main-path-info-block {
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -3%;
  text-align: left;
}

.main-part-buttons-block {
  display: flex;
  justify-content: space-between;
}

.main-part-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.main-part-button {
  border: 1px;
  border-radius: 3px;
  border: 1px solid rgba(43, 43, 43, 1);
  display: flex;
  align-items: center;
  background: none;
  height: 28px;
}

.button1,
.button3 {
  padding-left: 14px;
}

.button1 {
  padding-right: 21px;
}

.button2 {
  padding-left: 17px;
  padding-right: 18px;
}

.button3 {
  padding-right: 15px;
}

.main-part-button:focus {
  background: rgba(43, 43, 43, 1);
  color: rgba(255, 255, 255, 1);
}

.assortiment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 38px;
}

.item {
  width: calc(100% / 3 - 38px * 2 / 3);
  display: flex;
  justify-content: center;
  flex-direction: column;
  aspect-ratio: 1;
}

.image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  overflow: hidden;
}

.item-info {
  display: flex;
  justify-content: space-between;
}
