* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

header {
  display: flex;
  gap: 120px;
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: row;
}

img {
  width: 100%;
  height: 100%;
  object-fit: none;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48.41px;
  letter-spacing: -0.03em;
  text-align: left;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  letter-spacing: -0.03em;
  text-align: left;
}

a {
  text-decoration: none;
  color: rgb(43, 43, 43);
}

.with-underline {
  text-decoration: underline 1px solid rgb(232, 159, 56);
  text-underline-offset: 2px;
}

.gray-font {
  color: rgba(112, 112, 112, 1);
}

.small-font {
  font-size: 14px;
}

.wrapper {
  max-width: 1360px;
  margin: 0 auto;
}

/* header */

.header-right {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 58px;
  height: 112px;
}

/* header navigation buttons */

.header-nav-button {
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header-nav-button-text {
  font-size: 20px;
  letter-spacing: -0.03em;
  text-align: left;
}

/* right header navigation buttons */

.header-nav-right-buttons {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* main leftside */

.main-leftside {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 230px;
}

/* main leftside filter */

.main-leftside-filter {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.filters-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.94px;
  text-align: left;
}

/* filters checkboxes */

.main-liftside-header-with-checkbox {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-leftside-checkboxes {
  max-width: 192px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

/* filter checkbox */

.main-leftside-checkbox {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.main-leftside-checkbox > p,
span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  color: rgb(43, 43, 43);
}

.input-checkbox {
  border: 1px #2b2b2b;
  border-radius: 2px;
  width: 16px;
  height: 16px;
}

.input-checkbox:checked {
  accent-color: #2b2b2b;
}

.main-leftside-radio-button {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* circle checkbox */

.customRadio {
  position: relative;
  width: 22px;
  height: 22px;
  visibility: hidden;
}

/* checkbox border */

.custom-radio {
  border-radius: 100%;
  position: absolute;
  width: 22px;
  height: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  transition: 0.3s;
}

.customRadio:checked + .custom-radio .radio-inner-svg > svg {
  opacity: 1;
}

.customRadio:checked + .radio-input1 {
  border: 1px solid #fff;
}

.customRadio:checked + .radio-input2 {
  border: 1px solid rgba(233, 224, 209, 1);
}

.customRadio:checked + .radio-input3 {
  border: 1px solid #fff;
}

.customRadio:checked + .radio-input4 {
  border: 1px solid #fff;
}

.customRadio:checked + .radio-input5 {
  border: 1px solid rgba(216, 216, 216, 1);
}

/* checkbox color */

.radio-inner {
  border-radius: 100%;
  position: absolute;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-inner1 {
  border: 1px solid rgba(216, 216, 216, 1);
}

.radio-inner2 {
  background: rgba(236, 187, 175, 1);
}

.radio-inner3 {
  background: linear-gradient(137.72deg, #ecf0f5 15.5%, #ccd6e6 89.81%);
}

.radio-inner4 {
  background: rgba(253, 189, 78, 1);
}

.radio-inner5 {
  background: radial-gradient(
    75.91% 75.91% at 64% 75.91%,
    rgba(255, 255, 255, 0.46) 0%,
    #eaeef4 100%
  );
}

.radio-inner-svg {
  width: 9px;
  height: 6px;
  display: flex;
  align-items: center;
}

.radio-inner-svg > svg {
  opacity: 0;
  transition: 0.2s;
}

/* main part*/

.main-part {
  max-width: 1131px;
  margin-bottom: 9px;
}

/* main's header */
.main-part-header {
  margin-bottom: 16px;
}

.main-part-header-title {
  max-width: 100%;
  max-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* information */

.main-part-info-block {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-bottom: 20px;
}

.main-part-buttons-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* main's buttons */

.main-part-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.main-part-button {
  border: 1px;
  border-radius: 3px;
  border: 1px solid rgba(43, 43, 43, 1);
  display: flex;
  align-items: center;
  background: none;
  height: 28px;
}

.button1 {
  padding-left: 14px;
  padding-right: 21px;
  transition: 0.3s;
}

.button2 {
  padding-left: 17px;
  padding-right: 18px;
  transition: 0.3s;
}

.button3 {
  padding-left: 14px;
  padding-right: 15px;
  transition: 0.3s;
}

.main-part-button:focus {
  background: rgba(43, 43, 43, 1);
  color: rgba(255, 255, 255, 1);
}

/* assortiment */

.assortiment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 68px;
}

/* item of assortiment*/

.item {
  position: relative;
  width: calc(100% / 3 - 15px * 2 / 3);
  display: flex;
  justify-content: center;
  flex-direction: column;
  aspect-ratio: 1;
}

/* item's image */

.image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  overflow: hidden;
}

/* item's information */

.item-info {
  display: flex;
  justify-content: space-between;
}

/* favorites */

.item > .favorites {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  right: 20px;
}

/* carousel */

.item > .carousel {
  display: flex;
  position: absolute;
  width: calc(100% - 6px);
  align-items: center;
  justify-content: center;
  bottom: 31px;
  left: 3px;
  gap: 3px;
}

.carousel-button {
  height: 2px;
  width: calc(100% / 4 - 3px * 3 / 4);
  background: rgba(255, 255, 255, 1);
  border: none;
}

.carousel-button + .actuality {
  background: rgba(253, 189, 78, 1);
}

/* pagination */

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 60px;
}

.pagination-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.big-button {
  border: 1px solid rgba(43, 43, 43, 1);
  display: flex;
  align-items: center;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background: none;
  font-size: 14px;
  width: 100px;
  height: 34px;
  transition: 0.4s;
}

.page-button {
  background: none;
  border: 1px solid rgba(43, 43, 43, 1);
  width: 34px;
  height: 34px;
  font-size: 14px;
  text-align: center;
  aspect-ratio: 1;
  transition: 0.3s;
}

.see-more-button {
  background: none;
  border: 1px solid rgba(43, 43, 43, 1);
  width: 125px;
  height: 34px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 16.94px;
  transition: 0.3s;
}

.page-button:focus,
.see-more-button:focus,
.big-button:focus {
  background-color: rgba(43, 43, 43, 1);
  border: 1px solid rgba(43, 43, 43, 1);
  color: rgba(255, 255, 255, 1);
}

.big-button:focus > svg > path {
  stroke: rgba(255, 255, 255, 1);
}

.active {
  background-color: rgba(43, 43, 43, 1);
  border: 1px solid rgba(43, 43, 43, 1);
  color: rgba(255, 255, 255, 1);
}

/* information block */

.reduce-info-block {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.info-block-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  letter-spacing: -0.03em;
}

.info-block-text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.03em;
}

.upper {
  border: 1px solid rgb(43, 43, 43);
  margin-bottom: 35px;
}

/* footer */

.footer-logo {
  display: flex;
  flex-direction: row;
  gap: 120px;
  margin-bottom: 58px;
}

/* footer information block */

.footer-info {
  display: flex;
  flex-direction: row;
}

.info-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info-list {
  display: flex;
  flex-direction: row;
  gap: 39px;
}

.side-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}

.about {
  margin-right: 64px;
}

.support {
  margin-right: 74px;
}

.catalog {
  margin-right: 28px;
}

.contacts-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.phone-number {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.city {
  font-size: 13px;
  line-height: 15.73px;
  letter-spacing: -0.03em;
  text-align: left;
}

.number {
  font-size: 24px;
  font-weight: 500;
  line-height: 29.05px;
  letter-spacing: -0.03em;
  text-align: left;
}

/* end of site */

.lower {
  border: 1px dashed rgb(112, 112, 112);
  margin-bottom: 30px;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.low {
  display: flex;
  max-width: 262px;
  margin-right: 350px;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 30px;
}

.address {
  display: flex;
  max-width: 195px;
  margin-left: 419.65px;
}
